body{
    margin:10px;
    background:lightgrey;
}

.responsive{
    width: 100%;
    height: auto;
}
.col1{
    position:relative;
    top:-52px;
    background:white;
    font-family:Calibri;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    width:32%;
    height:auto;
    color:grey;
    line-height: 2.3;
    background:white;
    
}
.col2{
    margin-left:12px;
    color:grey;
    line-height: 2.2;
    background:lightgrey;
    font-family:Arial Unicode MS;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    width:66.5%;
    height:auto;
}
.col2a{
padding-top:0px;
padding-left:25px;
padding-right:25px;
background:white;
margin-bottom:10px;
}
.col2b{
padding-left:25px;
padding-right:25px;
background:white;
}

mark{
background-color:teal;
color:white;
}
.meter { 
margin-top:5px;
margin-bottom:5px;
background-color: black;
height:18px;
border-radius: 9px;
/* (height of inner div) / 2 + padding */
padding: 0px;
background: lightgrey;
}
.meter > span {
height: 18px;
display:inline-block;
position:relative;
padding-bottom:2px;
margin:0px;
border-radius: 9px;
color:white;
text-align:center;
background-color:teal;
font-size:13px;
}
.meter2 { 
margin-top:5px;
margin-bottom:5px;
background-color: black;
height:26px;
border-radius: 13px;
/* (height of inner div) / 2 + padding */
padding: 0px;
background: lightgrey;
}
.meter2 > span {
height: 26px;
display:inline-block;
position:relative;
padding:0px;
margin:0px;
border-radius: 13px;
background-color:teal;
}
h2{
display:inline-block;
}
.margin{
margin-left:10px;
margin-right:10px;
}
.nm{
position:relative;
top:-895px;
font-size:35px;
color:black;
}
span{
margin-right:10px;
font-size:18px;
color:teal;
}
p{

color:black;
font-size:15px;
line-height:1.8;
}
hr{
color:lightgrey;
}
img{
margin-bottom:10px;
}
